{% load custom_tags %}
<div class="container mt-5">
    <h1>Приемная комиссия</h1>

    <h3>{% if editing %}Редактировать запись{% else %}Добавить новую запись{% endif %}</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% if editing %}Обновить{% else %}Сохранить{% endif %}</button>
    </form>

    <div class="table-responsive">
        <table id="dynamicTable" class="table table-striped">
            <thead>
                <tr>
                    {% for field in fields %}
                        <th>{{ field.verbose_name }}</th>
                    {% endfor %}
                    <th>Редактировать</th> <!-- Новая колонка для действий -->
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    <tr>
                        {% for field in fields %}
                            <td>{% get_attr item field.name %}</td>
                        {% endfor %}
                        <td>
                            <a href="{% url 'dynamic_view_edit' model_name=model_name pk=item.pk %}" class="btn btn-warning">Редактировать</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="{{ fields_count_plus_one }}">Нет данных для отображения.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#dynamicTable').DataTable({
                "searching": true, // Включает поиск
                "ordering": true, // Включает сортировку
                "paging": true // Включает постраничный вывод
            });
        });
    </script>
</div>